Repository knowledgesystems/cmo-pipelines, pull requests merged in 2019-12, with the labels that each got.

#650 Updated Slack webhook for alerts
  import-scripts/backup-redcap-data.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/import-pdx-data.sh
  import-scripts/import-temp-study.sh
  import-scripts/monitor-redis-and-restart.sh
  import-scripts/refresh-cdd-oncotree-cache.sh
  import-scripts/rsync_jenkins_test_properties.sh
Labels: bug, import-scripts

#658 fix bug when multiple restart fails occur
  import-scripts/restart-portal-pods.sh
Labels: bug

#652 Cvr annotate with posts
  cvr/pom.xml
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/BatchConfiguration.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/CVRUtilities.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/clinical/CVRClinicalDataProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/fusion/CVRFusionDataProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/genepanel/CVRGenePanelProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/genepanel/CVRGenePanelReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/linkedimpactcase/LinkedMskimpactCaseProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRMutationDataProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRUnfilteredMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/GMLMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/seg/CVRSegDataProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/sv/CVRSvDataProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/variants/CVRVariantsProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/variants/GMLVariantsProcessor.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/util/CVRUtils.java
  cvr/src/main/resources/application.properties.EXAMPLE
Labels: skip-integration-tests

#659 fix bash syntax error
  import-scripts/import-portal-users.sh
Labels: bug, import-scripts
