Repository knowledgesystems/cmo-pipelines, pull requests merged in 2020-01, with the labels that each got.

#663 Update slack webhook for msk-pipeline-logs
  import-scripts/automation-environment.sh
  import-scripts/backup-redcap-data.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/import-pdx-data.sh
  import-scripts/import-temp-study.sh
  import-scripts/monitor-redis-and-restart.sh
  import-scripts/refresh-cdd-oncotree-cache.sh
  import-scripts/rsync_jenkins_test_properties.sh
  integration-tests/run-cron-integration-tests.sh
Labels: bug

#664 Add issue template for scrum cards.
  .github/ISSUE_TEMPLATE/pipelines-scrum-template.md
Labels: skip-integration-tests

#665 Replace hg references with git in dmp repo
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/fetch-dmp-data-for-import.sh
  import-scripts/oncokb-annotator.sh
  import-scripts/test_for_multi_hg_heads.sh
Labels: enhancement, import-scripts

#668 Expand LYMPHOMASUPERCOHORT filter criteria
  import-scripts/fetch-dmp-data-for-import.sh
Labels: bug, import-scripts
