Repository knowledgesystems/cmo-pipelines, pull requests merged in 2020-03, with the labels that each got.

#685 fix incorrect data source name
  import-scripts/update-msk-extract-cohort.sh
Labels: bug, import-scripts

#679 Update annotation to use new POST method
  cvr/pom.xml
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/CVRUtilities.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRUnfilteredMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/GMLMutationDataReader.java
  cvr/src/main/resources/log4j.properties.EXAMPLE
Labels: cvr, do not merge

#704 GENIE Flock Added
  import-scripts/import-genie-data.sh
Labels: skip-integration-tests
