Repository knowledgesystems/cmo-pipelines, pull requests merged in 2020-06, with the labels that each got.

#742 whitespace tweak in pom
  pom.xml
Labels: Whitespace

#690 Remove unused Data Writers for 'New' samples
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/BatchConfiguration.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/clinical/CVRNewClinicalDataWriter.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/cna/CVRNewCnaDataWriter.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/seg/CVRNewSegDataWriter.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/sv/CVRNewSvDataWriter.java
  cvr/src/main/resources/application.properties.EXAMPLE
Labels: cvr, enhancement, i-test-cvr-redcap, integration-tests, ready for review

#753 Expand resolved sample type values for CVR
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/staging/CVRClinicalRecord.java
  cvr/src/test/java/org/cbioportal/cmo/pipelines/cvr/CVRClinicalRecordTest.java
Labels: cvr, i-test-cvr-redcap

#754 Remove signed-out mutations from non-signed out MAF (replaces unfiltered MAF)
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/BatchConfiguration.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/CVRUtilities.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/CvrSampleListUtil.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/CVRMergedResult.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/mutation/CVRNonSignedoutMutationDataReader.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/requeue/CvrRequeueListener.java
  docs/DMP-Updates-Workflow.md
  import-scripts/merge.py
Labels: cvr, i-test-cvr-redcap
