Repository knowledgesystems/cmo-pipelines, pull requests merged in 2020-02, with the labels that each got.

#677 enable rsync of oncokb annotated maf for impact
  import-scripts/create_web_directory_index_file.sh
  import-scripts/oncokb-annotator.sh
Labels: enhancement, import-scripts

#678 add script for deletions of terminating pods
  import-scripts/delete_slow_to_terminate_pods.sh
  import-scripts/mycrontab
Labels: enhancement, import-scripts

#680 Redcap SSL Support
  import-scripts/automation-environment.sh
  import-scripts/backup-redcap-data.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/import-cmo-data-msk.sh
  import-scripts/import-cmo-data-triage.sh
  import-scripts/import-genie-data.sh
  import-scripts/import-pdx-data.sh
  import-scripts/import-public-data.sh
  import-scripts/import-temp-study.sh
  integration-tests/fetch_and_compare_to_redcap_schema.py
  integration-tests/run-cron-integration-tests.sh
  integration-tests/run-pull-request-integration-tests.sh
  integration-tests/scan-for-expected-redcap-projects.py
Labels: i-test-cvr-redcap

#681 Update mycrontab
  import-scripts/mycrontab
Labels: bug

#684 Resolve git commit order and cleanup
  import-scripts/fetch-dmp-data-for-import.sh
Labels: bug, import-scripts
