Repository knowledgesystems/cmo-pipelines, pull requests merged in 2021-08, with the labels that each got.

#866 don't give up on imports too early.
  import-scripts/fetch-and-import-dmp-data-wrapper.sh
Labels: bug, import-scripts

#869 Update GNAP commit hash
  cvr/pom.xml
Labels: skip-integration-tests

#872 Revert expt studies
  integration-tests/fetcher-file-project-map.txt
Labels: skip-integration-tests

#880 Add triage to restart-portal-pods script
  import-scripts/import-cmo-data-triage.sh
  import-scripts/restart-portal-pods.sh
Labels: enhancement, import-scripts, skip-integration-tests

#882 add redis restart to triage restart
  import-scripts/restart-portal-pods.sh
Labels: import-scripts

#883 Update restart-portal-pods.sh
  import-scripts/restart-portal-pods.sh
Labels: enhancement
