Repository knowledgesystems/cmo-pipelines, pull requests merged in 2021-06, with the labels that each got.

#787 Add Python2 and Python3 requirements files
  import-scripts/py2_requirements.txt
  import-scripts/py3_requirements.txt
Labels: backend-scrum, ready for review, skip-integration-tests

#851 add flock mutex for dmp/cmo/aws runs
  import-scripts/fetch-and-import-dmp-data-wrapper.sh
  import-scripts/import-cmo-data-msk.sh
  import-scripts/import-gdac-aws-data.sh
Labels: bug, import-scripts

#848 Update mycrontab
  import-scripts/mycrontab
Labels: import-scripts

#854 chain the cmo data import into the import wrapper
  import-scripts/fetch-and-import-dmp-data-wrapper.sh
  import-scripts/fetch-dmp-data-for-import.sh
  import-scripts/mycrontab
Labels: enhancement, import-scripts, skip-integration-tests
