Repository knowledgesystems/cmo-pipelines, pull requests merged in 2021-02, with the labels that each got.

#823 Ignore mrev_comments in meta-data, cvr snp fields
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/CVRMetaData.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/CVRSnp.java
Labels: CVR Pipeline, i-test-cvr-redcap

#826 Fix broken logging
  cvr/pom.xml
  pom.xml
Labels: CVR Pipeline, i-test-cvr-redcap

#829 Cleanup User Imports
  import-scripts/import-portal-users.sh
  import-scripts/mycrontab
Labels: import-scripts, skip-integration-tests

#831 adjust triage import script to restart dashi/dashi2 tomcats
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/import-cmo-data-triage.sh
Labels: enhancement, import-scripts

#830 Remove duplicate events possibly introduced by gene aliases or isoforms
  import-scripts/subset-impact-data.sh
Labels: CVR Pipeline, cmo-ops-scrum, i-test-cvr-redcap
