Repository knowledgesystems/cmo-pipelines, pull requests merged in 2021-09, with the labels that each got.

#881 drop --apply-overrides call in triage import script
  import-scripts/import-cmo-data-triage.sh
Labels: enhancement, import-scripts, skip-integration-tests

#859 Separate EKS vs Pipelines Scripts
  import-scripts/monitor-crontab-version.sh
  import-scripts/pipelines/automation-environment.sh
  import-scripts/pipelines/mycrontab
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/pipelines_eks/mycrontab
Labels: import-scripts, skip-integration-tests

#886 clear the persistence cache via api call
  import-scripts/clear_cbioportal_persistence_cache.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/fetch-and-import-dmp-data-wrapper.sh
  import-scripts/import-cmo-data-msk.sh
  import-scripts/import-cmo-data-triage.sh
  import-scripts/import-dmp-impact-data.sh
  import-scripts/import-gdac-aws-data.sh
  import-scripts/import-genie-archive.sh
  import-scripts/import-genie-data.sh
  import-scripts/import-pdx-data.sh
  import-scripts/import-public-data.sh
  import-scripts/pipelines/automation-environment.sh
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/restart-portal-pods.sh
  import-scripts/restful-login-counter/cbioportal-restful-login-counter-worker.sh
  import-scripts/restful-login-counter/cbioportal-restful-login-counter.sh
  import-scripts/update-gene-data.sh
  import-scripts/update-msk-mind-cohort.sh
  import-scripts/update-msk-spectrum-cohort.sh
Labels: enhancement, import-scripts

#884 use the login shell path for automation
  import-scripts/automation-environment.sh
Labels: import-scripts

#888 restart redis services to clear persistence cache
  import-scripts/automation-environment.sh
  import-scripts/clear_cbioportal_persistence_cache.sh
  import-scripts/datasource-repo-cleanup.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/pipelines/automation-environment.sh
  import-scripts/pipelines_eks/automation-environment.sh
Labels: import-scripts

#889 hourly rsync of credentials from pipelines to eks
  import-scripts/mycrontab
  import-scripts/pipelines/mycrontab
Labels: import-scripts, skip-integration-tests

#893 make all shell scripts executable (chmod)
  import-scripts/backup-eks-dbs.sh
  import-scripts/datasource-repo-cleanup.sh
  import-scripts/dmp-import-vars-functions.sh
  import-scripts/import-genie-archive.sh
  import-scripts/update-msk-mind-cohort.sh
  import-scripts/update-msk-spectrum-cohort.sh
Labels: import-scripts, skip-integration-tests

#892 make cases_lists subdirectory if it does not exist
  import-scripts/dmp-import-vars-functions.sh
Labels: bug, import-scripts, skip-integration-tests

#891 adjust DDPUtils : count days with local midnight
  ddp/ddp_pipeline/src/main/java/org/mskcc/cmo/ks/ddp/pipeline/util/DDPUtils.java
Labels: bug, ddp
