Repository knowledgesystems/cmo-pipelines, pull requests merged in 2022-02, with the labels that each got.

#930 Add support for v2 schema
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/CVRSvVariant.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/model/staging/CVRSvRecord.java
Labels: do not merge

#936 Fix Issue with DDP Vital Status Fields
  ddp/ddp_pipeline/src/main/java/org/mskcc/cmo/ks/ddp/pipeline/model/SuppVitalStatusRecord.java
  ddp/ddp_pipeline/src/main/java/org/mskcc/cmo/ks/ddp/pipeline/util/DDPUtils.java
  ddp/ddp_pipeline/src/test/java/org/mskcc/cmo/ks/ddp/pipeline/util/DDPUtilsTest.java
Labels: bug

#935 add valid options for hgnc import triggering to import-tool
  import-scripts/clear-persistence-cache-shell-functions.sh
  import-scripts/clear_cbioportal_persistence_cache.sh
  import-scripts/import-hgnc-data.sh
  import-scripts/import-hgnc.sh
  import-scripts/kill-import-hgnc-data.sh
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/pipelines_eks/mycrontab
  src/import-tool.cc
Labels: enhancement, import-scripts

#937 add git repo bic-mskcc-legacy repo to scripts
  import-scripts/import-cmo-data-msk.sh
  import-scripts/import-cmo-data-triage.sh
  import-scripts/import-pdx-data.sh
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/set-data-source-environment-vars.sh
Labels: enhancement, import-scripts

#938 import hgnc from datahub fork
  import-scripts/import-hgnc-data.sh
Labels: enhancement, import-scripts
