Repository knowledgesystems/cmo-pipelines, pull requests merged in 2022-04, with the labels that each got.

#943 Add NATS messaging to CVR "consume" step
  cvr/pom.xml
  cvr/src/main/java/org/cbioportal/cmo/pipelines/CVRPipeline.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/BatchConfiguration.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/CvrSampleListUtil.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/consume/ConsumeSampleWriter.java
  cvr/src/main/java/org/cbioportal/cmo/pipelines/cvr/smile/SmilePublisherTasklet.java
  cvr/src/main/resources/application.properties.EXAMPLE
Labels: skip-integration-tests

#940 adjust import-pdx-data.sh to use git (not hg)
  import-scripts/import-pdx-data.sh
Labels: enhancement, import-scripts, pdx

#951 add devdb as an option for import-tool
  import-scripts/clear-persistence-cache-shell-functions.sh
  import-scripts/clear_cbioportal_persistence_cache.sh
  import-scripts/import-devdb-data.sh
  import-scripts/kill-import-devdb-data.sh
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/pipelines_eks/mycrontab
  src/import-tool.cc
Labels: enhancement, import-scripts, skip-integration-tests

#952 fix bug creating log noise in recache
  import-scripts/clear-persistence-caches-for-changed-studies.sh
Labels: enhancement, import-scripts, skip-integration-tests

#953 script fixes which were deployed but not checked in (bic-mskcc)
  import-scripts/import-pdx-data.sh
  import-scripts/set-data-source-environment-vars.sh
  import-scripts/subset_and_merge_crdb_pdx_studies.py
Labels: enhancement, import-scripts, skip-integration-tests
