Repository knowledgesystems/cmo-pipelines, pull requests merged in 2023-08, with the labels that each got.

#1056 add nightly automated import of cmo-access
  import-scripts/fetch-ddp-and-import-cmo-access-data.sh
  import-scripts/pipelines_eks/automation-environment.sh
  import-scripts/pipelines_eks/mycrontab
Labels: enhancement, import-scripts

#1059 use standard cookie parsing in ddp
  ddp/ddp_pipeline/src/main/resources/naaccr_race.json
  ddp/ddp_source/src/main/java/org/mskcc/cmo/ks/ddp/source/util/AuthenticationUtil.java
Labels: bug, ddp

#1057 update dmp wrapper with dmp skip flag
  import-scripts/fetch-and-import-dmp-data-wrapper.sh
Labels: enhancement, import-scripts

#1068 Include annotated SV file in the annotated clinical file
  import-scripts/oncokb-annotator.sh
Labels: bug, import-scripts
