Repository knowledgesystems/cmo-pipelines, pull requests merged in 2023-01, with the labels that each got.

#983 add --disable-redcap-export during genie import
  import-scripts/import-genie-data.sh
Labels: enhancement

#986 Add age limit logic to AZ pipeline
  import-scripts/anonymize_age_at_seq_with_cap_py3.py
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_column_missing/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_column_missing/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_column_missing/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_lt_lower_age_limit/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_lt_lower_age_limit/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_at_seq_lt_lower_age_limit/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_current_column_missing/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_current_column_missing/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_current_lt_lower_age_limit/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_current_lt_lower_age_limit/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/age_current_lt_lower_age_limit/generated_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/blank_ages/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/blank_ages/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/blank_ages/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/blank_ages/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/capped_above_upper_age_limit/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/capped_above_upper_age_limit/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/capped_above_upper_age_limit/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/capped_above_upper_age_limit/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/gt_upper_age_limit/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/gt_upper_age_limit/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/gt_upper_age_limit/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/gt_upper_age_limit/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/in_between_age_limits/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/in_between_age_limits/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/in_between_age_limits/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/in_between_age_limits/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/na_ages/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/na_ages/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/na_ages/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/na_ages/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_column_missing/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_column_missing/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_eq_max_digits/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_eq_max_digits/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_eq_max_digits/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_eq_max_digits/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_gt_max_digits/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_gt_max_digits/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_gt_max_digits/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_gt_max_digits/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_integers/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_integers/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_integers/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_integers/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_lt_max_digits/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_lt_max_digits/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_lt_max_digits/expected_data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/os_months_lt_max_digits/expected_data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/patient_id_column_missing/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/patient_id_column_missing/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/patient_id_not_in_patient_file/data_clinical_patient.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/patient_id_not_in_patient_file/data_clinical_sample.txt
  import-scripts/test-py3/resources/anonymize_age_at_seq_with_cap/patient_id_not_in_patient_file/expected_data_clinical_patient.txt
  import-scripts/test-py3/test_anonymize_age_at_seq_with_cap.py
  import-scripts/test-py3/test_az_study_changelog.py
  import-scripts/update-az-mskimpact.sh
Labels: enhancement, import-scripts

#992 add updates to scripts for github.com genie source
  import-scripts/clear_cbioportal_persistence_cache.sh
  import-scripts/import-genie-data.sh
  import-scripts/knowledgesystems-importer/automation-environment.sh
  import-scripts/knowledgesystems-importer/mycrontab
  import-scripts/pipelines/mycrontab
Labels: enhancement, import-scripts

#991 Update mycrontab
  import-scripts/pipelines_eks/mycrontab
Labels: do not merge

#1000 fix bug preventing login to eks kubectl
  import-scripts/clear_cbioportal_persistence_cache.sh
Labels: bug, import-scripts

#1001 add trigger tool logic for genie importer
  import-scripts/import-genie-data.sh
  import-scripts/kill-import-genie-data.sh
  import-scripts/knowledgesystems-importer/automation-environment.sh
  import-scripts/knowledgesystems-importer/mycrontab
  import-scripts/pipelines_eks/automation-environment.sh
  src/import-tool.cc
Labels: enhancement, import-scripts
